body {
  margin: 0px;
  padding: 0px;
}

main {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

footer {
  padding: 24px 0px;
  margin-top: 40px;
  background-color: #DBC4F2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img {
  height: 200px;
}

nav {
  padding: 16px;
  color: white;
}

a {
  text-decoration: none;
  color: #8C3B70;
}

header {
  background-color: #DBC4F2;
  border-bottom: 1px solid black;
}

h1 {
  color: #034001;
}

h1,
h2 {
  grid-column: 1 / 5;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

@media (max-width: 780px) {
  div {
    grid-column: 1 / 5;
  }

  footer {
    display: none;
  }
}